# ==========================
# Web Framework
# ==========================
fastapi
uvicorn[standard]

# ==========================
# Frontend
# ==========================
streamlit

# ==========================
# Environment
# ==========================
python-dotenv
pydantic
pydantic-settings

# ==========================
# LangChain Ecosystem
# ==========================
langchain
langchain-core
langchain-community
langgraph

langchain-openai
langchain-text-splitters
langchain-chroma
sentence-transformers
langchain-huggingface

# ==========================
# Vector Database
# ==========================
chromadb

# ==========================
# PDF Processing
# ==========================
pymupdf

# ==========================
# OpenAI
# ==========================
openai

# ==========================
# File Upload
# ==========================
python-multipart

# ==========================
# HTTP Client
# ==========================
httpx

# ==========================
# Utilities
# ==========================
tqdm